body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@font-face {
  font-family: EzraSILSRW;
  src: url(SILEOTSR.woff);
}

@font-face {
  font-family: SBLGreek;
  src: url(SBL_grk.woff);
}

.hebFont {
  font-family: EzraSILSRW, sans-serif;
}

.grcFont {
  font-family: SBLGreek, serif;
}